version: '3'

services:
  database:
    image: 'postgres:latest'
    restart: always
    ports:
      - 5432:5432
    volumes:
      - db:/var/lib/postgresql/data 
    environment:
      - POSTGRES_DB=dapper_labs
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      
volumes:
  db: